<br><br>
<table class="table-bordered"  width="500px">
	<thead>
		<tr ng-repeat="project in projectData.projects | limitTo:1">
			<th class="text-center" ng-repeat="(key, value) in project">{{ key | uppercase }}</th>
		<tr>
	</thead>
	<tbody>
		<tr ng-repeat="project in projectData.projects">
			<td>{{ project.project_id }}</td>
			<td>{{ project.project_name }}</td>
			<td>
				<div ng-repeat="user in project.project_members.user_id">
					<span><a ng-href="#/user/{{user}}/projects">{{ user }}</a></span>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<table class="table-bordered" width="500px">
	<tr>
		<th  class="text-center" colspan="3" ng-repeat="user in resp | limitTo:1">
			<div ng-repeat="(key, value) in user.project_members">
				<span>{{ key | uppercase }}:{{ user_id }}</a></span>
			</div>
		</th>
	</tr>
	<tr ng-repeat="user in resp | limitTo:1">
		<th class="text-center" ng-repeat="(key, value) in user">{{ key | uppercase }}</th>
	</tr>
	<tr ng-repeat="particular in resp">
		<td>{{ particular.project_id }}</td>
		<td>{{ particular.project_name }}</td>
		<td>
			<div ng-repeat="userId in particular.project_members.user_id">
				<span>{{ userId }}</a></span>
			</div>
		</td>
	</tr>
</table>