<!DOCTYPE html>
<html ng-app="projectApp">
	<head>
		<title>Project Management</title>
		<link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

		<script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="../bower_components/angular/angular.min.js"></script>
		<script src="../bower_components/angular-route/angular-route.min.js"></script>
		<script src="../bower_components/ng-lodash/build/ng-lodash.min.js"></script>
		<script src = "../js/modules/app.js"></script>
		<script src = "../js/controllers/ProController.js"></script>
		<script src = "../js/models/ProService.js"></script>
		<script src = "../js/directives/dash_board.js"></script>
	</head>
	<body ng-controller="DashboardController">
		<div class="container">
			<divclass="row">
		
				<div class="page-header">
					<div class="col-sm-offset-10">
						<!--<select class="btn btn-success" ng-model="defaultUser" ng-change="changeUser(defaultUser)" selected="defaultUser">
							<option ng-repeat="user in userData.users"  ng-value="{{user.user_id}}">{{ user.user_name }}</option>
						</select>-->
					
						<select class="btn btn-info" ng-model="defaultUser" ng-change="changeUser(defaultUser)" ng-options="user.user_id as user.user_name for user in userData.users"></select>
					</div>
				</div>
			</divclass="row">

			<user-dash-board></user-dash-board>

			<project-dash-board></project-dash-board>

			<ng-view></ng-view>

		</div>	
	</body>
</html>